.heager-line {
	background-color: $red;
	height: 4px;
	max-width: 1440px;
	flex: 1 0 100%;
	margin: 0 -20px 18px -20px;
	align-self: flex-start;
}

.heager-nav-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header-logo {
	margin-right: 25px;
}

.header-logo-tom {
	width: 67px;
	height: 27px;
	fill: #000;
}

.header-logo-hard {
	width: 153px;
	height: 27px;
	fill: $red-logo;
}

.heager-nav {
	margin-right: 25px;
}

.nav-submenu {
	display: none;
}

















































































































































/*button's styles will be here*/
