.line {
	border: 2px solid $red;
	width: 1440px;
	margin: 0 -20px 15px -20px;
	align-self: flex-start;
}

.logo {
	margin-right: 20px;
}

.svg-logo-tom {
	width: 65px;
	height: 27px;
	fill: #000;
}

.svg-logo-hard {
	width: 145px;
	height: 27px;
	fill: $red-logo;
}

.nav {
	margin-right: 25px;
	flex: 0 0 65%;
}

.nav a:not(:last-child) {
	margin-right: 30px;
}
































































/*button's styles will be here*/
