.heager-line {
	border: 2px solid $red;
	max-width: 1440px;
	flex: 1 0 100%;
	margin: 0 -20px 15px -20px;
	align-self: flex-start;
}

.heager-nav-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header-logo {
	margin-right: 30px;
}

.header-logo-tom {
	width: 65px;
	height: 27px;
	fill: #000;
}

.header-logo-hard {
	width: 145px;
	height: 27px;
	fill: $red-logo;
}

.heager-nav {
	margin-right: 25px;
}

.heager-nav a:not(:last-child) {
	margin-right: 30px;
}

.heager-btns-container {
	/**/
}

.nav-submenu {
	display: none;
}





















































































































/*button's styles will be here*/
