html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**/
section:nth-child(n+3) {
  border: 1px solid; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #263341;
  background-color: #efefef;
  font-family: Lato, "Open Sans", "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.2;
  color: inherit; }

h1,
.h1 {
  font-size: 24px;
  font-weight: 800; }

h2,
.h2 {
  font-size: 24px;
  font-weight: 400; }

h3,
.h3 {
  font-size: 19px;
  font-weight: 600; }

h4,
.h4 {
  font-size: 17px;
  font-weight: 400; }

h5,
.h5 {
  font-size: 15px;
  font-weight: 700; }

h6,
.h6 {
  font-size: 14px;
  font-weight: 400; }

.padding-sides {
  padding-left: 16px;
  padding-right: 16px; }

.margin-b-16 {
  margin-bottom: 16px; }

a {
  line-height: inherit;
  color: #263341;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  cursor: pointer; }
  a:hover, a:active {
    color: #D8383B; }
  a img {
    border: 0; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.tab-nav {
  text-align: right; }

.tab-prev-next {
  background-color: #F5F8FB;
  color: #D8383B;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  text-align: center;
  font-size: .8em;
  display: inline-block;
  cursor: pointer; }

.fa-angle-left,
.fa-angle-right {
  margin-top: 6px; }

.tab-number {
  margin: 0 10px; }

.main-container {
  width: 100%;
  min-height: 100vh;
  max-width: 1440px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
  -webkit-box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  /* sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column; }

.header {
  position: fixed;
  z-index: 1000;
  max-width: 1440px;
  width: 100%;
  margin: 0 -20px;
  padding: 0 20px;
  background-color: #fff;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  border-bottom: 1px solid #efeff7; }

.sections-container {
  position: relative;
  padding-top: 40px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  /* sticky footer */
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.footer-container {
  height: 200px;
  max-width: 1440px;
  margin: 0 -20px;
  padding: 0 20px;
  background-color: #F5F8FB;
  font-weight: 400;
  color: #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-line-pack: distribute;
  align-content: space-around; }

.heager-line {
  background-color: #D8383B;
  height: 4px;
  max-width: 1440px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  margin: 0 -20px 18px -20px;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.heager-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header-logo {
  margin-right: 25px; }

.header-logo-tom {
  width: 67px;
  height: 27px;
  fill: #000; }

.header-logo-hard {
  width: 153px;
  height: 27px;
  fill: #be3806; }

.heager-nav {
  margin-right: 25px; }

.nav-submenu {
  display: none; }

/*button's styles will be here*/
.warning {
  padding-top: 75px;
  font-size: 11.2px;
  font-style: italic;
  margin: 0 auto; }

.section {
  padding: 10px 0;
  padding-bottom: 35px;
  margin-bottom: 16px; }

.articles {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }

.news {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  width: 100%;
  max-width: 550px; }

.reviews {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 22%;
  flex: 0 0 22%; }

.community {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%; }

.best-picks {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }

.watch-next {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32.6%;
  flex: 0 0 32.6%; }

.fav-deals {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32.6%;
  flex: 0 0 32.6%; }

.ref-n-tut {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32.6%;
  flex: 0 0 32.6%; }

.email {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }

.pictures {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }

.trend {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.fa-arrow-right {
  font: normal normal normal 14px FontAwesome; }

.articles {
  overflow: hidden; }

.articles-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.article-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 18.6%;
  flex: 1 0 18.6%;
  margin: 0 0.7%;
  -webkit-box-shadow: 0 15px 35px rgba(61, 82, 104, 0.12), 0 5px 15px rgba(22, 30, 39, 0.08);
  box-shadow: 0 15px 35px rgba(61, 82, 104, 0.12), 0 5px 15px rgba(22, 30, 39, 0.08);
  border-radius: 5px;
  overflow: hidden; }

.article-item-img {
  background-size: cover;
  height: 150px; }

.article-item-header {
  background-color: #3D5268; }

.article-item-title {
  padding: 16px 0 10px 0;
  color: #fff; }

.article-item-author {
  display: block;
  padding-bottom: 16px;
  color: #8C9EB1 !important; }

.article-item:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px); }
  .article-item:hover div h3 {
    color: #D8383B; }

.news-list li:nth-child(n) {
  padding: 14px 0;
  border-bottom: 1px solid #efeff7;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

/*# sourceMappingURL=style.css.map */
