html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
section {
  border: 1px solid;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #263341;
  background-color: #efefef;
  font-family: Lato, "Open Sans", "Source Sans Pro";
  font-size: 14px; }

.main-container {
  width: 100%;
  min-height: 100vh;
  max-width: 1440px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
  -webkit-box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  /* sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column; }

.header {
  position: fixed;
  z-index: 1000;
  max-width: 1440px;
  margin: 0 -20px;
  padding: 0 20px;
  background-color: #fff;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  border-bottom: 1px solid #dde; }

.sections-container {
  position: relative;
  padding-top: 65px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  /* sticky footer */
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.footer-container {
  height: 200px;
  max-width: 1440px;
  margin: 0 -20px;
  padding: 0 20px;
  background-color: #F5F8FB;
  font-weight: 400;
  color: #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-line-pack: distribute;
  align-content: space-around; }

.line {
  border: 2px solid #D8383B;
  width: 1440px;
  margin: 0 -20px 15px -20px;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.logo {
  margin-right: 20px; }

.svg-logo-tom {
  width: 65px;
  height: 27px;
  fill: #000; }

.svg-logo-hard {
  width: 145px;
  height: 27px;
  fill: #be3806; }

.nav {
  margin-right: 25px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 65%;
  flex: 0 0 65%; }

.nav a:not(:last-child) {
  margin-right: 30px; }

/*button's styles will be here*/
.page-block {
  padding: 10px;
  margin-bottom: 10px; }

.articles {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }

.news {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 39%;
  flex: 0 0 39%; }

.reviews {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24%;
  flex: 0 0 24%; }

.community {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 34%;
  flex: 0 0 34%; }

.best-picks {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }

.watch-next {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32.6%;
  flex: 0 0 32.6%; }

.fav-deals {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32.6%;
  flex: 0 0 32.6%; }

.ref-n-tut {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32.6%;
  flex: 0 0 32.6%; }

.email {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }

.pictures {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }

.trend {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }

/*# sourceMappingURL=style.css.map */
