.articles {
	overflow: hidden;
}

.articles-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.article-item {
	flex: 1 0 18.6%;
	margin: 0 0.7%;
	box-shadow: $box-shadow;
	border-radius: 5px;
	overflow: hidden;
}

.article-item-img {
	background-size: cover;
	height: 150px;
}

.article-item-header {
	background-color: $middle-gray;
}

.article-item-title {
	padding: 16px 0 10px 0;
	color: #fff;
}

.article-item-author {
	display: block;
	padding-bottom: 16px;
	color: $light-gray !important;
}

.article-item:hover {
	transform: translateY(-2px);
	& div h3 {
		color: $red;
	}
}
