.page-block {
	padding: 10px 0;
	margin-bottom: 10px;
}

.articles {
	flex: 0 0 100%;
}

.news {
	flex: 0 0 39%;
}

.reviews {
	flex: 0 0 24%;
}

.community {
	flex: 0 0 34%;
}

.best-picks {
	flex: 0 0 100%;
}

.watch-next {
	flex: 0 0 32.6%;
}

.fav-deals {
	flex: 0 0 32.6%;
}

.ref-n-tut {
	flex: 0 0 32.6%;
}

.email {
	flex: 0 0 100%;
}

.pictures {
	flex: 0 0 100%;
}

.trend {
	flex: 0 0 100%;
}
