.warning {
	padding-top: 75px;
	font-size: $font-size-base * 0.8;
	font-style: italic;
	margin: 0 auto;
}

.section {
	padding: 10px 0;
	padding-bottom: 35px;
	margin-bottom: 16px;
}

.articles {
	flex: 0 0 100%;
}

.news {
	flex: 0 0 40%;
	width: 100%;
	max-width: 550px;
}

.reviews {
	flex: 0 0 22%;
}

.community {
	flex: 0 0 33%;
}

.best-picks {
	flex: 0 0 100%;
}

.watch-next {
	flex: 0 0 32.6%;
}

.fav-deals {
	flex: 0 0 32.6%;
}

.ref-n-tut {
	flex: 0 0 32.6%;
}

.email {
	flex: 0 0 100%;
}

.pictures {
	flex: 0 0 100%;
}

.trend {
	flex: 0 0 100%;
}
