$red: #D8383B;
$red-logo: #be3806;
$font-size: 14px;

*,
section {
	border: 1px solid;
	box-sizing: border-box;
}

body {
	color: #263341;
	background-color: #efefef;
	font-family: Lato, "Open Sans", "Source Sans Pro";
	font-size: $font-size;
}
